// Colors

$color-primary-ligth: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-ligth: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-ligth: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-ligth: #f7f7f7;
$color-grey-ligth-2: #eee;

$color-white: #fff;
$color-dark-grey: #777;
$color-black: #000;

// Fonts

$default-font-size: 1.6rem;

//Grid

$grid-with: 114rem;
$space-vertical: 8rem;
$space-horizontal: 6rem;
