.row {
	max-width: $grid-with;
	margin: 0 auto; // para centrar la onda
	&:not(:last-child) {
		margin-bottom: $space-vertical;
	}

	@include clearfix;

	[class^="col-"] {
		float: left;
		&:not(:last-child) {
			margin-right: $space-horizontal;
		}
	}

	.col-1-of-2 {
		width: calc((100% - #{$space-horizontal}) / 2);
	}

	.col-1-of-3 {
		width: calc((100% - 2 * #{$space-horizontal}) / 3);
	}

	.col-1-of-4 {
		width: calc((100% - 3 * #{$space-horizontal}) / 4);
	}

	.col-2-of-3 {
		width: calc(66.6% - 0.33 * #{$space-horizontal});
	}

	.col-3-of-4 {
		width: calc((75% - 0.25 * #{$space-horizontal}));
	}
}
